body{
  background-color: #333;
}
.App {
  background-color: #333;
  color: #eee;
  margin: 0.5em;
  height: 150vh;
  padding: 1rem;
  border: 3px solid rgb(215, 153, 33);
  border-radius: 10px;
}

input{
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #eee;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
}
.terminal{
  white-space: pre-line;
  color: #EBDBB2;
  font-family: CascadiaCode,monospace;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.Banner{
  font-size: 1.2rem;
  color: rgb(215, 153, 33);
  margin-bottom: 0.5rem;
}